# KNN

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from scipy.spatial import distance

In [ ]:
column_name = ['ID', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type']

In [ ]:
train = pd.read_csv('trainKNN.txt',names= column_name)

In [ ]:
train.head()

   ID       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [ ]:
test = pd.read_csv('testKNN.txt',names= column_name)

In [ ]:
test.head()

    ID       RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  Type
0   68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17     1
1   69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16     1
2   70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03     1
3  144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00     2
4  145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24     2

In [ ]:
train = train.drop('ID', axis=1)
test = test.drop('ID', axis=1)

In [ ]:
train.describe()

               RI          Na          Mg  ...          Ba          Fe        Type
count  196.000000  196.000000  196.000000  ...  196.000000  196.000000  196.000000
mean     1.518295   13.375204    2.758980  ...    0.164235    0.050255    2.668367
std      0.003055    0.783145    1.392641  ...    0.485198    0.086359    2.062416
min      1.511310   10.730000    0.000000  ...    0.000000    0.000000    1.000000
25%      1.516458   12.877500    2.362500  ...    0.000000    0.000000    1.000000
50%      1.517630   13.280000    3.480000  ...    0.000000    0.000000    2.000000
75%      1.518985   13.792500    3.610000  ...    0.000000    0.090000    3.000000
max      1.533930   15.790000    4.490000  ...    3.150000    0.340000    7.000000

[8 rows x 10 columns]

In [ ]:
test.describe()

              RI         Na         Mg  ...         Ba         Fe       Type
count  18.000000  18.000000  18.000000  ...  18.000000  18.000000  18.000000
mean    1.519131  13.763333   1.873889  ...   0.292778   0.130556   4.000000
std     0.002791   1.083491   1.749753  ...   0.617422   0.164798   2.222876
min     1.511150  12.850000   0.000000  ...   0.000000   0.000000   1.000000
25%     1.517413  13.012500   0.000000  ...   0.000000   0.000000   2.000000
50%     1.519515  13.355000   2.395000  ...   0.000000   0.015000   4.000000
75%     1.521055  14.220000   3.570000  ...   0.112500   0.240000   6.000000
max     1.523000  17.380000   3.780000  ...   1.670000   0.510000   7.000000

[8 rows x 10 columns]

In [ ]:
def standardize (df):
    for col in df.columns:
        if col != "Type": 
            df[col] = (df[col] - df[col].mean())/df[col].std()
    return df

In [ ]:
train = standardize(train)
test = standardize(test)
train.head()

         RI        Na        Mg        Al  ...        Ca       Ba        Fe  Type
0  0.888537  0.338119  1.242977 -0.720654  ... -0.113060 -0.33849 -0.581932     1
1 -0.224221  0.657345  0.603903 -0.191863  ... -0.760269 -0.33849 -0.581932     1
2 -0.692234  0.197659  0.568000  0.174223  ... -0.795443 -0.33849 -0.581932     1
3 -0.207857 -0.210950  0.668529 -0.334230  ... -0.485909 -0.33849 -0.581932     1
4 -0.286405 -0.134335  0.618265 -0.435920  ... -0.591432 -0.33849 -0.581932     1

[5 rows x 10 columns]

In [ ]:
euclid_model = KNeighborsClassifier(n_neighbors=8, metric=distance.sqeuclidean) 
manhattan_model = KNeighborsClassifier(n_neighbors=8, metric=distance.cityblock)

In [ ]:
x_train = train.drop(["Type"], axis=1)
y_train = train["Type"]
euclid_model.fit(x_train,y_train)

KNeighborsClassifier(metric=<function sqeuclidean at 0x7f539ac447a0>,
                     n_neighbors=8)

In [ ]:
x_test = test.drop("Type", axis=1) 
y_test = test["Type"]
manhattan_model.fit(x_train, y_train)

KNeighborsClassifier(metric=<function cityblock at 0x7f539ac44b90>,
                     n_neighbors=8)

In [ ]:
manhattan_predictions = manhattan_model.predict(x_test)
euclid_predictions = euclid_model.predict(x_test) 
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid': euclid_predictions})
df.head()

   actual  manhattan  euclid
0       1          1       1
1       1          1       1
2       1          1       1
3       2          2       2
4       2          1       1